@charset "UTF-8";

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*-------------------------HEADER------------------*/
header{
    background-color: rgb(254, 234, 88);
    width: 1920px;
    height: 140px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header a{
    color: #646464;
}

header a:link{
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
    color: white;
}

header a:visited{
    text-decoration: none;
}

header a:active{
    text-decoration: none;
}

header h1{
    font-family: Metal Mania;
    font-size: 96px;
    font-weight: 400;
    line-height: 119px;
    
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    width: 573px;
    height: 99px;
    margin-right: 118px;
    margin-left: 674px;
    margin-top: 18px;
}

header .nav{
    display: flex;
    font-family: Metal Mania;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    color:#646464;
    gap: 40px;
    width: 500px;
    height: 76px;
    margin-right: 44px;
    margin-top: 32px;
}


/*--------------------BODY----------------------------*/




section{
    display: flex;
    flex-direction: column;
    
    height: 890px;
    width: 1920px;
    background-color: #FF7F7F;
    margin: 0;
}

#top{
    display: flex;
    flex-direction: row;
}

#bottom{
    display: flex;
    flex-direction: row;
}

.hero{
    display: flex;
    background-color: rgb(232, 0, 37);
    width: 698px;
    height: 400px;
    margin-top: 35px;
    justify-content: center;
}

#renpy{
    width: 568px;
    height: 400px;
}


#desc{
    display: flex;
    background-color: rgb(232, 0, 37);
    width: 581px;
    height: 334px;
    font-family: Lemon;
    margin-left: 60px;
    margin-top: 66px;
    margin-bottom: 0;
    align-items: center;
    flex-direction: column;
    color: white;
}

#desc h3{
    border-bottom: white 3px solid;
    margin-top: 22px;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 0;
}

#desc p{
    font-size: 22px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    width: 459px;
    height: 237px;
    
}


#github{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 245, 174);
    width: 459px;
    height: 334px;
    font-family: Lemon;
    margin-left: 60px;
    margin-top: 66px;
    margin-right: 63px;
    margin-bottom: 0px;
    color: black;
}

#github h3{
    border-bottom: black 3px solid;
    margin-top: 22px;
    width: 217px;
    height: 52px;
    font-size: 27px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 0;
}

#github ul{
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
}

#github a{
    color: black;
}

#github  a:hover{
    color: gray;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 245, 174);
    width: 573px;
    height: 313px;
    margin-left: 85px;
    margin-top: 46px;
    
}

#contact h3{
    border-bottom: black 3px solid;
    color: black;
    width: 217px;
    height: 52px;
    font-family: Lemon;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
}

#icons{
    display: flex;
    flex-direction: row;
    gap: 53px;
    align-content: center;
    margin-right: 69.9px;
    margin-left: 55px;
}

#contact a{
    width: 96px;
    height: 85.75px;
    
}

#about{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 64px;
}

#about img{
    width: 508px;
    height: 366px;
    margin-left: 100px;
}

#aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 591px;
    height: 366px;
    font-family: Lemon;
    font-weight: 400;
}

#aboutme h3{
    border-bottom: black 3px solid;
    color: black;
    width: 217px;
    height: 52px;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 0;
}

#aboutme p{
    font-size: 22px;
    line-height: 29px;
    width: 459px;
    height: 237px;
    text-align: center;
}


/*----------------FOOTER----------------------*/

footer{
    display: flex;
    height: 50px;
    width: 1920;
    background-color: rgb(254, 234, 88);
    justify-content: space-between;
    align-items: center;
    font-family: Lemon;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

footer h3{
    margin-left: 20px;
    color: rgb(100, 100, 100);
}

footer a{
    margin-right: 20px;
    color: rgb(100, 100, 100)
}

footer a:link{
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    color: white;
}

footer a:visited{
    text-decoration: none;
}

footer a:active{
    text-decoration: none;
}


/*---------------SMALL SCREEN-------------------*/
@media screen and (max-width: 500px)    {

    body{
        width: 500px;
        height: 1600px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 500px;
        height: 140px;
    }

    header h1{
        font-size: 50px;
        font-weight: 400;
        line-height: 62px;
        margin-left: 50px;
        width: 264px;
        height: 99px;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        text-align: center;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }

    header a.name{
        display: flex;
        width: 264px;
        height: 99px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    header a:active{
        text-decoration: none;
        color: white;
    }

    header .nav{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 25px;
        column-gap: 0px;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 40px;
    }

    .nav .featured{
        font-size: 25px;
        font-weight: 400;
        line-height: 31px;
    }

    .nav .proj{
        font-size: 25px;
        font-weight: 400;
        line-height: 31px;
    }

    #top{
        display: flex;
        flex-direction: column;
        height: 366px;
    }

    #bottom{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 1044px;
    }

    div #about{
        flex-direction: column;
    }

    #about img{
        margin-left: 0;
        
        width: 500px;
    }

    div #aboutme{
        width: 500px;
        margin-bottom: 0;
    }

    #contact{
        order:3;
        margin-left: 0;
        margin-top: 0;
        width: 500px;
        height: 300px;
        margin-bottom: 20px;
    }


    #icons{
       justify-content: flex-end;
    }

    section{
        width: 500px;
        height: 1410px;
    }

    div #github{
        display: none;
    }

    div #desc{
        display: none;
    }

    footer{
        width: 500px;
        height: 50px;
    }

    .hero{
        width: 500px;
        height: 366px;
        margin-top: 0;
    }

    #renpy{
        width: 500px;
        height: 366px;
        margin-top: 0;
    }
}