@charset "UTF-8";

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*-------------------------HEADER------------------*/
header{
    background-color: rgb(254, 234, 88);
    width: 1920px;
    height: 140px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header a:link{
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
}

header a:visited{
    text-decoration: none;
}

header a:active{
    text-decoration: none;
}

header h1{
    font-family: Metal Mania;
    font-size: 96px;
    font-weight: 400;
    line-height: 119px;
    color: #646464;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    width: 573px;
    height: 99px;
    margin-right: 118px;
    margin-left: 674px;
    margin-top: 18px;
}

header .nav{
    display: flex;
    font-family: Metal Mania;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    color:#646464;
    gap: 40px;
    width: 500px;
    height: 76px;
    margin-right: 44px;
    margin-top: 32px;
}


/*--------------------BODY----------------------------*/

section{
    display: flex;
    height: 890px;
    width: 1920px;
    background-color: #FF7F7F;
    margin: 0;
}


/*----------------FOOTER----------------------*/

footer{
    display: flex;
    height: 50px;
    width: 1920;
    background-color: rgb(254, 234, 88);
    justify-content: space-between;
    align-items: center;
    font-family: Lemon;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

footer h3{
    margin-left: 20px;
    color: rgb(100, 100, 100);
}

footer a{
    margin-right: 20px;

}

footer a:link{
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
}

footer a:visited{
    text-decoration: none;
}

footer a:active{
    text-decoration: none;
}